---
import type { ClearedImageAsset, NavigationItem } from '../../types/design-system';
import SkipLink from '../accessibility/SkipLink.astro';
import BrandLogo from '../brand/BrandLogo.astro';
import DesktopNav from './DesktopNav.astro';
import MobileMenu from './MobileMenu.astro';

interface Props {
  mainId: string;
  navigation: NavigationItem[];
  currentId?: string;
  mobileMenuId: string;
  logoAsset?: ClearedImageAsset;
  menuAddress?: string;
}

const { mainId, navigation, currentId, mobileMenuId, logoAsset, menuAddress } = Astro.props;
---

<header class="site-header">
  <SkipLink targetId={mainId} />
  <div class="site-header-inner ds-container">
    <BrandLogo context="header" asset={logoAsset} />
    <DesktopNav items={navigation} currentId={currentId} />
    <MobileMenu
      id={mobileMenuId}
      items={navigation}
      currentId={currentId}
      logoAsset={logoAsset}
      address={menuAddress}
    />
  </div>
</header>
