---
import type { HomePromoContent } from '../../types/home';
import ActionLink from '../ui/ActionLink.astro';

interface Props extends HomePromoContent {
  id: string;
}

const { id, kicker, heading, text, action } = Astro.props;
---

<section class="home-promo home-promo-sport" id={id} aria-labelledby={`${id}-heading`}>
  <p class="home-promo-kicker">{kicker}</p>
  <div class="home-promo-content">
    <h2 id={`${id}-heading`}>{heading}</h2>
    <p>{text}</p>
    {action && <ActionLink {...action} />}
  </div>
</section>
